
body{
	font-family: 'Circular Bold', Helvetica, sans-serif;
	 margin: .6em;
}
img{
	max-width: 100%;
}
h1{
	color: #1668BC;
	font-weight: bold;
}

h2{
	color: #59AFE1;
}

.details{
	background-color: #F5F5F5;
}

li{
	margin:.6em;
}
b{
	color:#59AFE1;
	
}

footer{
	text-align: center;
	background-color: #eee;
	margin-top: .5em;
}
.quote{
	 font-style: italic;
	 font-size: 1.2em;
	 padding: .6em;


}

@media(min-width:750px ){
	 .container{
	 	width: 80%;
	 	margin: auto;
	 }
}